*{
    --bgcolor1:#2b3945;
    --bgcolor2: #202c37;
    --textcolor: white;
}

.dark{
    background-color: var(--bgcolor2);
}

.countryList{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 20px;
    padding: 30px 50px;
    box-sizing: border-box;
    width: 100%;
}