*{
    --bgcolor1:#2b3945;
    --bgcolor2: #202c37;
    --textcolor: white;
}

.content{
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px 50px;
    gap:5%;
    align-items: flex-start;
}

.button{
    margin: 10px 50px;
    padding: 1em;
    border-radius: 40px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 0.7em;
    cursor: pointer;
}

.dark > .button{
    background-color: var(--bgcolor1);
    color: var(--textcolor);
}

.button:hover{
    transform: scale(1.1);
}
.flag{
    width:40%;
    min-width: 300px;
}
.flag img{
    width: 100%;
    object-fit: contain;
}
.details{
    width: 50%;
    box-sizing: border-box;
}
.details>div{
    display: flex;
    justify-content: space-between;
}

.border a{
    text-decoration: none;
    color: black;
    padding: 0.8em 1.2em;
    border: 1px solid black;
    border-radius: 10px;
    margin:0 10px;
    cursor: pointer;
}
.darkborder a{
    text-decoration: none;
    color: var(--textcolor);
    padding: 0.8em 1.2em;
    border: 1px solid white;
    border-radius: 10px;
    margin:0 10px;
    cursor: pointer;
}

.dark{
    background-color: var(--bgcolor2);
    color: var(--textcolor);
    height: 100%;

}

.border, .darkborder{
    display: flex;
    flex-wrap: wrap;
    gap:1em 0em;
    align-items: center;
}

a:hover{
    transform: scale(1.05em);
    font-weight: 700;
}

@media only screen and (max-width: 950px) {
    .content{
        flex-direction: column;
    }
    .flag{
        width: 100%;
    }
    .details{
        width: 100%;
    }
}

@media (max-width:550px) {
    .details>div{
        flex-direction: column;
    }
    
}