*{
    --bgcolor1:#2b3945;
    --bgcolor2: #202c37;
    --textcolor: white;
}

.dark{
    background-color: var(--bgcolor1);
    color: var(--textcolor);
}

.filter{
    width: 200px;
    padding: 0.5em 0.5em;
    font-size: 18px;
    border-radius: 5px;
}