*{
    --bgcolor1:#2b3945;
    --bgcolor2: #202c37;
    --textcolor: white;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: var(--bgcolor1);
}

::-webkit-scrollbar-thumb{
    background-color: var(--bgcolor2);
}

.dark{
    background-color: var(--bgcolor2);
    color: var(--textcolor);
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}